body{
	margin: 0 auto;
	background: #f9f9f9;
	text-align: center;
	padding-bottom: 90px;
}
#cabecalho{
	background: hsl(55, 76%, 56%);
	height: 52px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-size: 10px;
}
.lastitem {
	display: flex;
	justify-content: flex-end;
	width: 95%;
}
#bordaAvatar{
	box-shadow: 3px 2px 2px 1px #eee !important;
	height:301px;
	flex: 1;
	border-radius: 10px;
	margin: 20px 0;
	position: relative;
	margin-bottom: 26px;
	margin-bottom: 50px;
}
#avatar{
	background: hsl(55, 76%, 56%);
	border-radius: 200px;
	height: 116px;
	width: 116px;

	text-align: center;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #eee;
	padding: 1px 1px 1px 1px;
	margin: 0 auto;
}
#publicar{
	box-shadow: 1px 2px 2px 1px #eee !important;
	height: 298px;
	flex: 2;
	border-radius: 10px;
	margin: 20px 0;
	margin-left: 3%;
	position: relative;
}
textarea{
	width: 90%;
	height: 156px;
	background: #eee;
	border-radius: 10px;
	border: 1px solid #eee;
	resize: none;
}
.btnmentrar{
	background: #b4bb07;
	color: white;
	width: 131px;
	height: 42px;
	border-radius: 4px;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}
h3{
	margin: 20px 20px 20px 20px;
}
.mensagem {
	box-shadow: 2px 2px 2px 3px #eee !important;
	border-radius: 10px;
	margin: 20px 0;
	line-height: 20px;
	text-align: justify;
	padding: 20px 20px 20px 20px;
	position: relative;
}

#mensagem1 {
	margin-top: 170px;
}

b{
	color: #6960969;
}
#pubAva{
	display: flex;
	height: 180px; 	
}
.email {
	text-align: justify;
	font-size: 18px;
	border-top:  1px solid #eee;
}
#bordaAvatar a{
	position: absolute;
	bottom: 15px;
	right: 15px;
}
#tudo{
	margin: 0 auto;
	max-width: 800px;
	width: 800px;
	margin-bottom: 30px;

}
.btn-refresh {
	position: absolute;
	right: 30px;
}
.curtir{
	position: absolute;
	bottom: 15px;
	right: 15px;
}
@media screen and (max-width: 600px) {
#tudo {
	width: 87%;
}
	
#bordaAvatar {
		
}

#publicar{
		margin: 0;

		
}
		textarea{
			width: 273px;
			
		}
.mensagem{

}
#pubAva{
		flex-direction: column;
		
}

#mensagem1{
margin-top: 510px;
}
}
