body{
margin: 0 auto;
background: #f9f9f9;
text-align: center;

}
#cabecalho{
background: hsl(55, 76%, 56%);
height: 52px;
width: 100%;
display: flex;
flex-wrap: wrap;
font-size: 10px;
}
#bordaAvatar{
box-shadow: 1px 2px 2px 1px #eee !important;
height:301px;
width: 302px;
border-radius: 10px;
margin: 20px;
position: relative;
}
#avatar{
background: hsl(55, 76%, 56%);
border-radius: 200px;
height: 116px;
width: 116px;

text-align: center;
font-size: 35px;
display: flex;
justify-content: center;
align-items: center;
border-top: 1px solid #eee;
padding: 1px 1px 1px 1px;
margin: 0 auto;
}
#publicar{
box-shadow: 1px 2px 2px 1px #eee !important;
height: 298px;
width: 481px;
border-radius: 10px;
margin: 20px;
margin-left: 50px;
}
textarea{
width: 422px;
height: 156px;
background: #eee;
border-radius: 10px;
border: 1px solid #eee;
resize: none;
}
.btnmentrar{
background: #b4bb07;
color: white;
width: 131px;
height: 42px;
border-radius: 4px;
font-size: 11px;
text-transform: uppercase;
text-align: center;
}
h3{
margin: 20px 20px 20px 20px;
}
.mensagem{
box-shadow: 1px 2px 2px 3px #eee !important;
height: 176px;
width: 805px;
border-radius: 10px;
margin: 20px;
line-height: 20px;
text-align: justify;
padding: 20px 20px 20px 20px;
position: relative;
}
b{
color: #6960969;
}
#pubAva{
display: flex;
width: 900px;
height: 180px; 	
}
.email{
text-align: justify;
font-size: 18px;
border-top:  1px solid #eee;
}
#bordaAvatar a{
	position: absolute;
	bottom: 15px;
	right: 15px;
}
#tudo{
margin: 0 auto;
width: 800px;
height: 725px;
}
.curtir{
position: absolute;
	bottom: 15px;
	right: 15px;
}
